/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
/public/wdisplay/*.gif
/public/wdisplay/*.txt
/public/wdisplay/*.html
/public/wdisplay/*.jpg
/public/wdisplay/*.htm
/public/wdisplay/*.xml
/public/wdisplay/*.zip
